/*
 * Yanado REST API
 * REST API for Yanado
 *
 * OpenAPI spec version: 1.0
 * Contact: prle@yanado.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package com.yanado.api;

import com.yanado.invoker.ApiCallback;
import com.yanado.invoker.ApiClient;
import com.yanado.invoker.ApiException;
import com.yanado.invoker.ApiResponse;
import com.yanado.invoker.Configuration;
import com.yanado.invoker.Pair;
import com.yanado.invoker.ProgressRequestBody;
import com.yanado.invoker.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.yanado.model.EmailTask;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class EmailTasksApi {
    private ApiClient apiClient;

    public EmailTasksApi() {
        this(Configuration.getDefaultApiClient());
    }

    public EmailTasksApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for getEmailTasks
     * @param listId List id (optional)
     * @param assignee Assignee (optional)
     * @param statusId Status Id (optional)
     * @param query Query (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getEmailTasksCall(String listId, String assignee, String statusId, String query, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/public-api/email-tasks";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (listId != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "listId", listId));
        if (assignee != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "assignee", assignee));
        if (statusId != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "statusId", statusId));
        if (query != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "query", query));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "X-API-Key" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getEmailTasksValidateBeforeCall(String listId, String assignee, String statusId, String query, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        
        com.squareup.okhttp.Call call = getEmailTasksCall(listId, assignee, statusId, query, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get tasks with emails attached
     * 
     * @param listId List id (optional)
     * @param assignee Assignee (optional)
     * @param statusId Status Id (optional)
     * @param query Query (optional)
     * @return List&lt;EmailTask&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<EmailTask> getEmailTasks(String listId, String assignee, String statusId, String query) throws ApiException {
        ApiResponse<List<EmailTask>> resp = getEmailTasksWithHttpInfo(listId, assignee, statusId, query);
        return resp.getData();
    }

    /**
     * Get tasks with emails attached
     * 
     * @param listId List id (optional)
     * @param assignee Assignee (optional)
     * @param statusId Status Id (optional)
     * @param query Query (optional)
     * @return ApiResponse&lt;List&lt;EmailTask&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<EmailTask>> getEmailTasksWithHttpInfo(String listId, String assignee, String statusId, String query) throws ApiException {
        com.squareup.okhttp.Call call = getEmailTasksValidateBeforeCall(listId, assignee, statusId, query, null, null);
        Type localVarReturnType = new TypeToken<List<EmailTask>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get tasks with emails attached (asynchronously)
     * 
     * @param listId List id (optional)
     * @param assignee Assignee (optional)
     * @param statusId Status Id (optional)
     * @param query Query (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getEmailTasksAsync(String listId, String assignee, String statusId, String query, final ApiCallback<List<EmailTask>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getEmailTasksValidateBeforeCall(listId, assignee, statusId, query, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<EmailTask>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
